:root {
  --background-primary: #000156;

  --primary-color: #000130;

  --secondary-color: #000;

  --white-color: #fff;

  --yellow-color: #ffff00;

  --primary-font: 'Outfit', Arial, Helvetica, Sans-serif;

  --secondary-font: 'Poppins', Arial, Helvetica, Sans-serif;
}

.body {
  font-family: var(--primary-font);

  color: #fff;
  background-color: var(--background-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

/* Video Background */

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;

  pointer-events: none;
  opacity: 0.6;
}

main {
  padding: 0 2rem;
}

/* Weather Submit Form */

.weather-city-input {
  padding: 0.75rem 1.2rem;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;

  font-size: 1.4em;

  outline: none;

  margin: 3rem 0;

  min-width: 200px;
}

.weather-city-input::placeholder {
  color: var(--secondary-color);
  font-weight: 500;
}

.placeholder-fadeOut::placeholder {
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.placeholder-fadeIn::placeholder {
  opacity: 1;

  transition: opacity 0.5s ease-in-out;
}

.weather-submit-btn {
  margin-left: 1.5rem;

  padding: 1rem;

  border: none;

  border-radius: 1.2rem;

  font-size: 1.25rem;

  color: var(--secondary-color);

  font-weight: 500;

  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;

  position: relative;

  background-color: #fff;

  transition: background-color 0.5 ease, color 0.5s ease;

  cursor: pointer;
}

.weather-submit-btn::after {
  content: '';
  position: absolute;
  background-color: var(--yellow-color);
  top: 6px;
  right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}

.weather-submit-btn:hover {
  background-color: var(--primary-color);

  color: #fff;
}

.weather-submit-btn:active {
  transform: scale(1.05);
}

.errorContainer {
  margin-bottom: 1rem;
}

.errorContainer.messageDisplay {
  background-color: var(--primary-color);

  padding: 4rem 6rem;

  border-radius: 20px;

  font-size: 1.5rem;

  font-size: 600;
}

span.hidden {
  display: none;
}

#weatherAppTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#weatherAppTitle h1.heading {
  font-size: clamp(2rem, 5vw, 8rem);
  font-weight: 450;
  text-transform: capitalize;
  position: relative;
  color: #fff;
}

#weatherAppTitle h1.heading span.text-3,
#weatherAppTitle h1.heading span.text-4,
#weatherAppTitle h1.heading span.text-full {
  color: var(--yellow-color);
  font-weight: bold;
  -webkit-text-shadow: 0 0 10px #fff;
  text-shadow: 0 0 10px hsla(0, 0%, 100%, 0.314);
}

#weatherAppTitle p.desc {
  text-transform: uppercase;
  margin: 1rem 0;
  text-decoration: underline var(--yellow-color);
  text-underline-offset: 0.8rem;
}

/* Footer Styling */

.footer {
  padding: 1.5rem 0;
  width: 100%;

  display: flex;

  justify-content: center;
}

.github-logo {
  margin-left: 0.25rem;
  text-align: center;
  color: #fff;
}

/* Hide Content  */

.errorContainer.displayNone {
  display: none;
}

#weatherAppTitle.displayNone {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important ;
    transition-duration: 0s !important;
  }

  .heading-text,
  .text-1,
  .text-2,
  .text-3,
  .text-4,
  .text5,
  .cursor {
    display: none !important;
  }
}
