:root {
  --background-primary: #000156;

  --primary-color: #000130;

  --secondary-color: #000;

  --white-color: #fff;

  --yellow-color: #ffff00;

  --primary-font: 'Outfit', Arial, Helvetica, Sans-serif;

  --secondary-font: 'Poppins', Arial, Helvetica, Sans-serif;
}

.body {
  font-family: var(--primary-font);

  color: #fff;
  background-color: var(--background-primary);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

/* Video Background */

body .video-background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.6;
  pointer-events: none;
}

main {
  padding: 0 2rem;
}

/* Weather Submit Button Custom Styles */

.weather-submit-btn {
  margin-left: 1.5rem;

  padding: 1rem;

  border: none;

  border-radius: 1.2rem;

  font-size: 1.25rem;

  color: var(--secondary-color);

  font-weight: 500;

  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;

  position: relative;

  background-color: #fff;

  transition: background-color 0.5 ease, color 0.5s ease;

  cursor: pointer;
}

.weather-submit-btn::after {
  content: '';
  position: absolute;
  background-color: var(--yellow-color);
  top: 5px;
  right: 6px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.weather-submit-btn:hover {
  background-color: var(--primary-color);

  color: #fff;
}

.weather-submit-btn:active {
  transform: scale(1.05);
}

#weatherAppTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#weatherAppTitle h1.heading {
  font-size: clamp(2rem, 12vw, 6rem);
}

#weatherAppTitle .description {
  font-size: clamp(0.4rem, 4vw, 1rem);
  text-transform: uppercase;
}

/* Hides Full Name When user has animations turned off */
span.hidden {
  display: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important ;
    transition-duration: 0s !important;
  }

  .heading-text,
  .word-1,
  .word-2,
  .word-3,
  .word-4,
  .cursor {
    display: none !important;
  }
}
